.hotel-view {
    background-color: #fff;
    flex: 1; //fill all the available space (82%). The width of the sidebar 18%;
}

.gallery {
    display: flex;
    &__item {
        position: relative;
    }
    &__caption {
        font-size: 2rem;
        color: var(--color-grey-light-2);
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 0.3s;
    }
    &__image{
        display: block;
        width: 100%;
    }
    &__item:hover {
        .gallery__image {
            filter: greyscale(90%);
            -webkit-filter: grayscale(90%);/* Safari 6.0 - 9.0 */
        }
        .gallery__caption {
            opacity: 1;
            top:50%;
        }
    }
}
.overview {

    & > * {
        padding: 1.5rem 3rem;
        @media only screen and (max-width: 500px) {
            padding: .3rem 0.5rem;
        }
    }

    display: flex;
    align-items: center;
    border-bottom:var(--line);
    &__heading {
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
    }
    &__rating {
        margin-right: auto;
        display: flex;
        @media only screen and (max-width: 500px) {
            margin-right: 0;
        }
        // align-items: center;
        // justify-content: space-between;
    }
    &__icon,&__location-icon {
        width: 1.5rem;
        height: 1.5rem;
        fill: var(--color-primary);
    }
    &__location{
        font-size: 1.4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-icon {
            margin-right: 0.5rem;
        }
    }
    &__voting {
        color: #fff;
        background-color: var(--color-primary);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: stretch;
        height: 100%;
        &-average {
            font-size: 2rem;
            font-weight: 300rem;
        }
        &-count {
            font-size: 1rem;
        }
    }

}
.btn-inline {
    border: none;
    background-color: transparent;
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    display: inline-block;
    color: var(--color-primary);
    cursor: pointer;
    transition: all 0.2s;
    & span {
        margin-left: 1rem;
        transition: margin-left 0.3s;
    }
    &:hover {
        color: var(--color-primary-dark);
        & span {
            margin-left: 1.5rem;
        }
    }
    &:focus {
        outline: none;
        animation: btn-inline-anim 1s infinite;
    }
}

@keyframes btn-inline-anim {
    0% {
        transform: scale(1);
        box-shadow: none;
    }
    50% {
        transform: scale(1.1);
        box-shadow: var(--shadow-dark);
    }
    100%{
        transform: scale(1);
        box-shadow: none;
    }
}