.side-bar {
    background-color: var( --color-grey-dark-1);
    //Define the flex props
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    flex: 0 0 18%; // grow: 0, shrink: 0, basis (width): 18%;
}

.side-nav {
    font-size: 1.4rem;
    margin-top: 1.5rem;
    list-style: none;
    &__item {
        cursor: pointer;
        position: relative;
        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 3px;
            background-color: var(--color-primary);
            transform: scaleY(0);
            transition: transform 0.2s,
                        width 0.2s cubic-bezier(0,.54,.26,1.33) 0.2s;
        }
    }
    &__item:hover::before,
    &__item--active::before  {
        width: 100%;
        transform: scaleY(1);
    }

    &__link:visited, &__link:link  {
        text-decoration: none;
        color: var(--color-grey-light-2);
        text-transform: uppercase;
        padding: 1.5rem 2.5rem;
    }
    &__link {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
    }
    &__icon {
        height: 3rem;
        width: 3rem;
        margin-right: 2rem;
        fill: currentColor;
    }
}

.legal {
    font-size: 1.2rem;
    text-align: center;
    color: var(--color-grey-light-3);
    padding: 2.5rem;
}
