.side-bar {
    background-color: var( --color-grey-dark-1);
    //Define the flex props
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 18%; // grow: 0, shrink: 0, basis (width): 18%;
}

.side-nav {
    font-size: 1.4rem;
    margin-top: 1.5rem;
    list-style: none;
    &__item {
        display: block;
        cursor: pointer;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 3px;
            background-color: var(--color-primary);
        }
    }
    &__link:visited, &__link:link  {
        text-decoration: none;
        color: var(--color-grey-light-2);
        text-transform: uppercase;
        padding: 1.5rem 2.5rem;
    }
    &__link {
        display: flex;
        align-items: center;
    }
    &__icon {
        height: 3rem;
        width: 3rem;
        margin-right: 2rem;
        fill: currentColor;
    }
}

.legal {
    font-size: 1.2rem;
    text-align: center;
    color: var(--color-grey-light-3);
    padding: 2.5rem;
}
